<!DOCTYPE html>
<html>
<head>
    <title>
        Определение
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="header">
        Звук
    </div>

    <div class="menu">
        <ul>
            <li>@Html.ActionLink("Определение", "Def", "Home")</li>
            <li>@Html.ActionLink("Картинка", "Im", "Home")</li>
            <li>@Html.ActionLink("Музыка", "Mus", "Home")</li>
            

        </ul>
    </div>

    <div class="block">
        @RenderBody() 
    </div>
    <div class="footer">
        footer
    </div>
</body>
</html> 